In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
df = pd.read_csv('Trendyol_Sales_Data_Dirty.csv')
df.head()

,YEAR,month,CITY,CatEgory,PayMent_methoD,DEVICE_type,PROMOTion_used,CustSegment,ORDer_Value,Items sold,shipping_cost,Delivery_time,Product_rating,DiscOUNt
0,2020.0,4.0,@Bursa,NaN,Cr3dit C@rd,D3sktop,@Yes,@New,477.75,10.0,32.34 TRY,6.0,4.7,113.97
1,2023.0,11.0,@NA,Toys,Debit Card,Desktop,No,@Returning,369.63,4.0,34.56 TRY,2.0,4.6,103.36
2,2011.0,5.0,Samsun,@NA,E-W@ll3t,Desktop,No,@Returning,264.94,3.0,24.97 TRY,3.0,3.4,22.84
3,2017.0,2.0,diyarbakir,clothing,@E-Wallet,Mobil3,YES,@NA,353.31,8.0,36.25 TRY,4.0,3.6,59.85
4,2013.0,6.0,BURSA,NaN,CREDIT CARD,Desktop,YES,@Returning,NaN,6.0,43.16 TRY,4.0,4.2,7.82

In [55]:
df.tail()

,YEAR,month,CITY,CatEgory,PayMent_methoD,DEVICE_type,PROMOTion_used,CustSegment,ORDer_Value,Items sold,shipping_cost,Delivery_time,Product_rating,DiscOUNt
1095,2019.0,6.0,diyarbakir,@Beauty,DEBIT CARD,Desktop,NA,@Returning,369.58,NaN,18.53 TRY,1.0,4.1,96.98
1096,2017.0,12.0,Ad@n@,Clothing,E-W@ll3t,Tablet,@Yes,returning,308.40,9.0,26.38 TRY,2.0,4.3,35.76
1097,2019.0,8.0,konya,@Home,credit card,@Desktop,Y3s,RETURNING,446.99,7.0,58.41 TRY,7.0,3.1,94.61
1098,2013.0,4.0,ANKARA,Clothing,@Debit Card,DESKTOP,@Yes,@New,454.18,3.0,63.72 TRY,4.0,3.8,51.76
1099,2016.0,3.0,Kony@,clothing,na,tablet,@No,@New,202.42,NaN,14.81 TRY,6.0,NaN,48.62

In [56]:
missing_data = df.isna().any()

missing_data

YEAR               True
month              True
 CITY              True
CatEgory           True
PayMent_methoD     True
DEVICE_type        True
PROMOTion_used     True
CustSegment        True
ORDer_Value        True
Items sold         True
shipping_cost     False
Delivery_time      True
Product_rating     True
DiscOUNt           True
dtype: bool

In [57]:
missing_values = df.isna().sum()
missing_values

YEAR               76
month              87
 CITY              33
CatEgory           37
PayMent_methoD     30
DEVICE_type        42
PROMOTion_used     30
CustSegment        39
ORDer_Value        85
Items sold        100
shipping_cost       0
Delivery_time      89
Product_rating     86
DiscOUNt           85
dtype: int64

In [58]:
missing_percentage = df.isna().mean() * 100
missing_percentage

YEAR              6.909091
month             7.909091
 CITY             3.000000
CatEgory          3.363636
PayMent_methoD    2.727273
DEVICE_type       3.818182
PROMOTion_used    2.727273
CustSegment       3.545455
ORDer_Value       7.727273
Items sold        9.090909
shipping_cost     0.000000
Delivery_time     8.090909
Product_rating    7.818182
DiscOUNt          7.727273
dtype: float64

In [59]:
df.columns = df.columns.str.strip() # removed empty spaces the columns names

In [60]:
df.rename(columns={
    'YEAR': 'year',
    "CITY":"city",
    'month': 'month',
    'CatEgory': 'category',
    'PayMent_methoD': 'payment_method',
    'DEVICE_type': 'device_type',
    'PROMOTion_used': 'promotion_used',
    'CustSegment': 'customer_segment',
    'ORDer_Value': 'order_value',
    'Items sold': 'sold_items',
    'shipping_cost': 'shipping_cost',
    'Delivery_time': 'delivery_time',
    'Product_rating': 'product_rating',
    'DiscOUNt': 'discount'
}, inplace=True) # changed the names of the columns

In [61]:
columns_to_object = ['year', 'month','city','category','payment_method','device_type','promotion_used','customer_segment']
df[columns_to_object] = df[columns_to_object].astype('object') #changed datatypes

In [62]:
df['shipping_cost'] = df['shipping_cost'].replace({'TRY': '', '': ''}, regex=True) #removed TRY

In [63]:
columns_to_float = ['order_value', 'sold_items','shipping_cost','delivery_time','product_rating','discount']
df[columns_to_float] = df[columns_to_float].replace({'NaN': None})
df[columns_to_float] = df[columns_to_float].apply(pd.to_numeric, errors='coerce') #changed datatypes

In [64]:
df['date'] = pd.to_datetime(df[['year', 'month']].assign(day=1)) # combine month and year and assign day 1

In [65]:
df.drop(['year', 'month'], axis=1, inplace=True)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   city              1067 non-null   object
 1   category          1063 non-null   object
 2   payment_method    1070 non-null   object
 3   device_type       1058 non-null   object
 4   promotion_used    1070 non-null   object
 5   customer_segment  1061 non-null   object
 6   order_value       1015 non-null   float64
 7   sold_items        1000 non-null   float64
 8   shipping_cost     1018 non-null   float64
 9   delivery_time     1011 non-null   float64
 10  product_rating    1014 non-null   float64
 11  discount          1015 non-null   float64
 12  date              941 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(6), object(6)
memory usage: 111.8+ KB

In [67]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x) #Removed the white spaces in the string values.

In [68]:
df.head()

,city,category,payment_method,device_type,promotion_used,customer_segment,order_value,sold_items,shipping_cost,delivery_time,product_rating,discount,date
0,@Bursa,NaN,Cr3dit C@rd,D3sktop,@Yes,@New,477.75,10.0,32.34,6.0,4.7,113.97,2020-04-01
1,@NA,Toys,Debit Card,Desktop,No,@Returning,369.63,4.0,34.56,2.0,4.6,103.36,2023-11-01
2,Samsun,@NA,E-W@ll3t,Desktop,No,@Returning,264.94,3.0,24.97,3.0,3.4,22.84,2011-05-01
3,diyarbakir,clothing,@E-Wallet,Mobil3,YES,@NA,353.31,8.0,36.25,4.0,3.6,59.85,2017-02-01
4,BURSA,NaN,CREDIT CARD,Desktop,YES,@Returning,NaN,6.0,43.16,4.0,4.2,7.82,2013-06-01

In [73]:
nonValue = ["@na","NaN","@NA","na","NA","none","None","empty","NONE",None]
df = df.replace(nonValue ,np.nan) # converted NaN all null values.